<%-include("partials/header.ejs")%>
<style>body
			{
				background :url("https://i.pinimg.com/originals/e2/71/fd/e271fda72f1e158b5f0569cc72d36d7f.jpg");
			}
		</style>
<div class = "container " >
	
<div class ="row r1">
	<div class = "col-md-3">
		
	</div>
	<div class ="col-xs-12 col-md-6 wl well" style="margin-top:10%">
		<h1 style = "margin-bottom:20px; text-align:center ;font-family:'Overpass'">
	Register
</h1>
	<form action ="/register" method = "POST"  style="margin:0 auto; width:60%; font-family:'Montserrat-Bold';">
	<div class ="input-group">
		  <span class="input-group-addon round"><i class="fas fa-user"></i></span>

		<input  class = "form-control form-group round" type="email" name ="username" placeholder="Email" required ></div>
		<div class = "input-group">
					  <span class="input-group-addon round"><i class="fas fa-lock"></i></span>

		<input class = "form-control form-group round" type="password" name = "password" placeholder = "Password" required>
		</div>
		<div>

		<button  type ="submit" class ="btn login-btn"style="width:100% ;border-radius:25px; margin-bottom:20px  ">
			 Submit
		</button>
			
	
		
		</div>
		 

		</form>	
			
<a href="/auth/google" style ="color:white; font-family:'Montserrat-Bold';width:60%; margin:0 20%"><button class ="btn" style = "width:60%;background-color:#df4930; border-radius:25px ; "><i class="fab fa-google-plus-g"></i>   Continue using Google
	</button></a>

		</div>
		

	</div>
</div>
<%- include("partials/footer.ejs")%>